{% extends 'layouts/base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Profile</h1>

            <img src="{{app.user.gravatarUrl}}" alt="{{ app.user.fullName }}" class="rounded-circle shadow mb-4">
            <p class="lead">{{ app.user.email }}</p>

            <h2>{{ app.user.fullName }}</h2>

            <p>
                <a href="{{ path('app_account_edit') }}" class="">Edit account</a> |
                <a href="{{ path('app_account_change_password') }}" class="">Change password</a>
            </p>
        </div>
    </div>

{% endblock %}