{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="row ">
        <div class="row col-md-6 mx-auto">
            <article class="pin bg-white rounded shadow mx-auto">
                <div class="mw-100 overflow-hidden rounded-top">
                        <img class="w-100"
                             src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.png')) |
                             imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" />
                    </a>
                </div>

                <div class="p-3">
                    <h1 class="h5 text-muted text-decoration-none text-secondary">
                        {{ pin.title }}
                    </h1>
                    <p class="text-muted">
                        <small>
                            Submitted {{ pin.createdAt|ago }} by
                            {{ pin.user.fullName }}
                        </small>
                    </p>

                    <p class=" text-muted text-break">
                        {{ pin.description }}
                    </p>

                    {% if app.user == pin.user %}
                        <div class="pt-3">
                            <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">Edit</a>
                            <a href="#" onclick="event.preventDefault(); confirm('Are you sure ? ')
                            && document.getElementById('js-pin-delete-form').submit();"
                               class="btn btn-light">Delete</a>

                            <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post"
                                  style="display: none;">
                                <input type="hidden" name="crsf_token" value="{{ csrf_token('pin_deletion'~ pin.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </article>


        </div>
    </div>


{% endblock %}